/* Document styling */
#wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height:100%;
  font-weight: 100;
}

#scatterChart {
  position: absolute;
  top: 30px;
  left: 250px;
  width: 90%;
  height: 100%;
  /*margin: 25px auto;*/
}

#title {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 100%;
  color: #4CC6EF;
}

#about {
  position: absolute;
  top: 300px;
  left: 30px;
  width: 200px;
  font-size: 12px;
}

#about .social {
  margin-top: 5px;
}

#menu {
  position: absolute;
  top: 65px;
  left: 30px;
  width: 300px;
}

#wrapper li, h1, h2 {
  font-weight: 100;
}

#wrapper h2 {
  font-size: 11px;
  margin: 0;
  color: #666;
}

#wrapper ul {
  list-style: none;
  font-size: 15px;
  padding: 0;
  margin-top: 3px;
  text-transform: uppercase;
}

#wrapper li {
  cursor: pointer;
  padding-bottom: 5px;
}

#wrapper li:hover {
  color: #4CC6EF;
}

#wrapper li.preview {
  font-weight: 400;
}

#wrapper li.selected {
  font-weight: bold;
}